html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#brand-name {
  font-size: 22px;
  color: red;
}

#slogan {
  font-size: 14px;
  font-style: italic;
}

#mapDiv {
	position: absolute;
	height: calc(100% - 65px - 50px);
	width: calc(100% - 250px);
	padding: 0;
	margin: 0;
}

#main-content {
	height: 100%;
	width: 100%;
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
  height: 100%;
}

.sidebar-nav {
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li p {
  color: #ddd;
  line-height: 40px;
  text-indent: 20px;
  margin-bottom: 0;
  margin-top: 15px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

.slider {
	width: 100%;
	margin-left: 20px;
}

.slider .tooltip.top .tooltip-arrow,
.slider .tooltip-inner {
  background-color: #333;
}

.slider.slider-horizontal {
  width: 200px !important; /* sorry for important, but accordion auto-calcs the width and puts it in the DOM element! */
}

.tooltip.top {
  top: -30px !important; /* sorry for important, but accordion auto-calcs the width and puts it in the DOM element! */
}

/* accordian stuff */
.panel {
  background-color: #111;
  color: #ccc;
  border-radius: 0  !important;
  border: none;
}

.panel-title {
  color: #ddd;
}

.panel-title a:hover {
  text-decoration: none;
}


@media (max-width:767px) {
	#wrapper {
	  padding-left: 0;
	  height: 100%;
	}

	#wrapper:not(.active) #map {
		position: absolute;
		height: calc(100% - 65px - 50px);
		width: 100%;
		padding: 0;
		margin: 0;
	}

	#sidebar-wrapper {
	  left: 0;
	}

	#wrapper.active {
	  position: relative;
	  left: 250px;
	}

	#wrapper.active #page-content-wrapper {
		width: calc(100% - 250px);
		margin: 0;
	}

	#wrapper.active #sidebar-wrapper {
	  left: 250px;
	  width: 250px;
	  transition: all 0.4s ease 0s;
	}

	#menu-toggle {
	  display: inline-block;
	}

	.inset {
	  padding: 15px;
	}
}